@model Wiser.Models.User.UserDetailItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserDetailItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Virtue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Virtue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VirtueToGiveToday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VirtueToGiveToday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contributions)
        </dt>
        @Html.Partial("ScrollItem", Model.Contributions)
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section scripts {
    <script language="javascript" type="text/javascript">
        console.log("Yup it's checked");
        $(document).ready(function () {
            $(".upvote").click(function (e) {
                var target = $(e.target);
                var id = target.attr('id');
                console.log(id);
                $.ajax({
                    type: 'PUT',
                    url: `/api/upvote/${id}`
                })
                    .done(function (r) {
                        if (r == false) {
                            alert("Already upvoted! ;) UwU");
                        }
                        else {
                            alert('${r} naniwa!');
                            target.removeClass();
                            target.hide();
                        }
                    })
                    .fail(function (r) {
                        alert("Failed to upvote post");
                    });
            });
            $(".favoriteButton").click(function (e) {
                var target = $(e.target);
                var id = target.attr('id');
                console.log(id);
                $.ajax({
                    type: 'POST',
                    url: `/api/favorite/${id}`
                })
                    .done(function (r) {
                        if (r == false) {
                            alert("Already fAVOREITD! ;) UwU");
                        }
                        else {
                            alert('${r} favp!');
                            target.removeClass();
                            target.hide();
                        }
                    })
                    .fail(function (r) {
                        alert("Failed to favorite post");
                    });
            });
        });
    </script>

}