@model IEnumerable<Wiser.Models.User.UserDetailItem>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Virtue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VirtueToGiveToday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Virtue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VirtueToGiveToday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
@section scripts {
    <script language="javascript" type="text/javascript">
        console.log("Yup it's checked");
        $(document).ready(function () {
            $(".upvote").click(function (e) {
                var target = $(e.target);
                var id = target.attr('id');
                $.ajax({
                    type: 'PUT',
                    url: `/api/upvote/${id}`
                })
                    .done(function (r) {
                        if (r == false) {
                            target.removeClass();
                            target.addClass("fa fa-thumbs-up scrollIcon");
                        }
                        else {
                            target.removeClass();
                            target.addClass("fa fa-thumbs-up scrollIcon");
                        }
                    })
                    .fail(function (r) {
                        alert("Failed to upvote post");
                    });
            });
            $(".favoriteButton").click(function (e) {
                var target = $(e.target);
                var id = target.attr('id');
                console.log(id);
                $.ajax({
                    type: 'POST',
                    url: `/api/favorite/${id}`
                })
                    .done(function (r) {
                        console.log(r);
                        if (r == false) {
                            target.removeClass();
                            target.addClass("fa fa-heart scrollIcon");
                        }
                        else {
                            target.removeClass();
                            target.addClass("fa fa-heart scrollIcon");
                            console.log(r);
                        }
                    })
                    .fail(function (r) {
                        alert("Failed to favorite post");
                    });
            });
        });
    </script>

}