@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-fixed-top navGradient">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Wiser", "Index", "Home", new { area = "" }, new { @class = "h1 navbar-brand display-1" })
            </div>
            <button id="navbar-toggle" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarWrapper" aria-controls="navbarWrapper" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarWrapper">
                <div class="navbar navbar-expand-lg">
                    <ul class="nav navbar-nav nav-text">
                        @*<li class="nav-item">@Html.ActionLink("Wisdom", "Index", "Wisdom",new { @class="fa fa-user nav-link"})</li>*@
                        <li class="nav-item dropdown dropToggle nav-text">
                            <a class="dropdown-toggle nav-text" href="#" id="dropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Wisdom
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropDown">
                                <a class="dropdown-item" href="@Url.Action("Create","Wisdom")">Create Wisdom</a>
                                <a class="dropdown-item" href="@Url.Action("Index","Author")">Search by Author</a>
                                <a class="dropdown-item" href="@Url.Action("TopUsers","User")">Search by User</a>
                            </div>
                        </li>
                        @*<li class="nav-item">@Html.ActionLink("Authors", "Index", "Author")</li>*@
                        <li class="nav-item dropdown dropToggle nav-text">
                            <a class="dropdown-toggle nav-text" href="#" id="dropDownAuthor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Authors
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropDownAuthor">
                                @* Set up  *@
                                <a class="dropdown-item" href="@Url.Action($"HallOfFame","Author")">Top Authors</a>
                                @* Modify author index and copy so that user can view all authors taht they have favorite wisdom with *@
                                <a class="dropdown-item" href="@Url.Action("Author","Favorites")">Favorite Authors</a>
                                <a class="dropdown-item" href="@Url.Action("Index","Author")">All Authors</a>
                            </div>
                        </li>
                        &nbsp;
                        &nbsp;
                        <li class="nav-item dropdown dropToggle nav-text">
                            <a class="dropdown-toggle nav-text" href="#" id="dropDownAuthor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Favorites
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropDownAuthor">
                                @* Set up  *@
                                <a class="dropdown-item" href="@Url.Action("Index","Favorite")">Favorite Wisdom</a>
                                <a class="dropdown-item" href="@Url.Action("Index","Favorite")">Favorite Authors</a>

                            </div>
                        </li>
                        &nbsp;
                        &nbsp;
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div id="footIcons">
                <a class="fa fa-4x fa-github" href="https://github.com/perrynicholas"></a>
                <a class="fa fa-4x fa-youtube" href="https://www.youtube.com/channel/UC4PurZ6qtNNPqAX_U6JkXWQ?view_as=subscriber"></a>
                <a class="fa fa-4x fa-linkedin" href="https://www.linkedin.com/in/nicholas-p-934180122/"></a>
                <a class="fa fa-4x fa-mail-forward" href="mailto:founder@theperry.co"></a>
            </div>
            <p>&copy; @DateTime.Now.Year - Nicholas Perry</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
