@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-fixed-top navGradient">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Wiser", "Index", "Home", new { area = "" }, new { @class = "h1 navbar-brand display-1" })
            </div>
            <div class="navbar navbar-expand-lg">
                <ul class="nav navbar-nav nav-text">
                    @*<li class="nav-item">@Html.ActionLink("Wisdom", "Index", "Wisdom",new { @class="fa fa-user nav-link"})</li>*@
                    <li class="nav-item">@Html.ActionLink("Authors", "Index", "Author")</li>
                    &nbsp;
                    &nbsp;
                    <li class="nav-item">@Html.ActionLink("Favorites", "Index", "Favorite")</li>
                    &nbsp;
                    &nbsp;
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div id="footIcons">
                <a class="fa fa-4x fa-github" href="https://github.com/perrynicholas"></a>
                <a class="fa fa-4x fa-youtube" href="https://www.youtube.com/channel/UC4PurZ6qtNNPqAX_U6JkXWQ?view_as=subscriber"></a>
                <a class="fa fa-4x fa-linkedin" href="https://www.linkedin.com/in/nicholas-p-934180122/"></a>
                <a class="fa fa-4x fa-mail-forward" href="mailto:founder@theperry.co"></a>
            </div>
            <p>&copy; @DateTime.Now.Year - Nicholas Perry</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
