@using Microsoft.AspNet.Identity
<link href="~/Content/Site.css" rel="stylesheet" />
@if (Request.IsAuthenticated)
{

    <li class="nav-item dropdown dropToggle">
        <a class="dropdown-toggle nav-text" href="#" id="dropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            You
        </a>
        <div class="dropdown-menu" aria-labelledby="dropDown">
            <a class="dropdown-item" href="@Url.Action($"Edit/{User.Identity.GetUserId()}","User")">Edit Profile</a>
            <a class="dropdown-item" href="@Url.Action($"Details/{User.Identity.GetUserId()}","User")">View Profile </a>
            <a class="dropdown-item" href="@Url.Action($"UserContributions/{User.Identity.GetUserId()}","User")">Your Wisdom</a>
        </div>
    </li>
    @:&nbsp;
    <li class="nav-item"><a class="nav-text" href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }
}
else
{
    <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-text" })</li>
    @:&nbsp;
    @:&nbsp;

    <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-text" })</li>
}